* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
/* default/light mode colors */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* dark mode colours */
body.dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
}
navbar {
  background-color: var(--background-color);
  box-shadow: 10px 5px 5px 2px rgb(228, 225, 225);
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: var(--background-color);
}

.logo h1 {
  height: 50px;
  align-items: center;
  background-color: var(--text-color);
  color: var(--background-color);
  transform: translateX(35px);
}
.logo h2 {
  height: 50px;
  align-items: center;
  background-color: rgb(201, 80, 120);
  color: var(--background-color);
  transform: translateY(30px);
}
.navbar-tabs {
  /* background-color: rgb(224, 222, 222)!important; */
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.navbar-tabs a {
  /* background-color: inherit; */
  /* background-color: rgb(224, 222, 222)!important; */
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.navbar-tabs :hover {
  color: rgb(153, 147, 147);
  cursor: pointer;
  text-decoration: underline;
  /* border-bottom: 2px solid rgb(153, 147, 147); */
}
#search-input {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgb(153, 147, 147);
}
#search-input::placeholder {
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  color: var(--text-color);
}
#search-input:hover {
  cursor: pointer;
  background-color: rgb(153, 147, 147);
}
#search-input:focus {
  border: none;
  cursor: pointer;
  background-color: rgb(153, 147, 147);
}
.search-icon {
  position: absolute;
  right: 22rem;
  color: var(--text-color);
  /* transform: translateY(-30px);  */
}
.search-icon:hover {
  color: var(--background-color);
}
section {
  margin-top: 20px;
  display: flex;
  height: 400px;
  gap: 20px;
}
section img {
  border-radius: 10px;
}
.img-header {
  width: 70%;
  max-height: 500px;
  /* object-fit: cover; */
  /* margin: auto; */
}
.genres-menu {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.genres-btn {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 20px;
  margin-left: 50px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.genres-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
.genre-dropdown-contents {
  visibility: hidden;
  /* z-index: 2;  */
  background-color: yellow;
  width: 120px;
  border-radius: 10px;
  margin-left: 120px;
  padding: 0;
}
.genre-dropdown-contents li {
  list-style-type: none;
  text-transform: capitalize;
  /* display: flex; */
}
.theme-icon {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}
.moon,
.sun {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: var(--background-color);
  color: var(--text-color); */
}
.sun {
  visibility: hidden;
}

.moon {
  visibility: visible;
}

body.dark-mode .sun {
  visibility: visible;
}

body.dark-mode .moon {
  visibility: hidden;
}
.main-article {
  background-color: rgb(183, 154, 212) !important;
}
article {
  color: var(--text-color);
  /* background-color: rgb(110, 79, 79) !important;*/
  width: 47rem;
  height: 500px;
  margin: 50px auto;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article h2 {
  text-transform: uppercase;
}
article h3 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.deal-btn {
  margin-top: 20px;
  width: 90%;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
}
.sun {
  visibility: hidden;
}

.moon {
  visibility: visible;
}

body.dark-mode .sun {
  visibility: visible;
}

body.dark-mode .moon {
  visibility: hidden;
}
article {
  color: var(--text-color);
  /* background-color: rgb(110, 79, 79) !important;*/
  width: 47rem;
  height: 500px;
  margin: 50px auto;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article h2 {
  text-transform: uppercase;
}
article h3 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
.deal-btn {
  margin-top: 20px;
  width: 90%;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
}

.deal-btn a {
  text-decoration: none;
  color: var(--text-color);
}
span {
  margin-top: 30px;
  width: 40rem;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
}
footer {
  width: 60rem;
  /* height: 500px;  */
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 80px;
  color: var(--text-color);
}
footer h3 {
  /* border: 2px solid red; */
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}
.live li,
.entertainment-shows li,
.channels li,
.subscriptions li,
.customer-care li,
.more-information li,
.social-icons li {
  list-style-type: none;
  line-height: 30px;
}
