 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* default/light mode colors */
  :root {
    /* --moz-background-color: white; */
    --background-color: #e7e3e3;
    --text-color: #413f3f;
  }
  /* dark mode colours */
body.dark-mode {
  /* --moz-background-color: black ; */
  --background-color: #333333;
  --text-color: #ffffff;
}
  main {
    margin: auto;
    overflow: hidden;
  background-color: var(--background-color);
}
.theme-icon {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  width: 24px; 
  height: 24px; 
}
.moon,
.sun {
  position: absolute;
}
.sun {
  display: none;
}

.dark-mode .sun {
  display: inline;
}

.dark-mode .moon {
  display: none;
}
  nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 12;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
  }
  navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 10px auto;
    height: 80px;
    width: 100%;
 
  }
.logo-img{
 height: 150px;
  font-size: 25px;
  padding-bottom: 45px;
}
.hamburger{
  display: none;
  cursor: pointer;
}
  .navbar-tabs {
    list-style-type: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  .navbar-tabs a {
    color: red;
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .navbar-tabs :hover {
    color: rgb(153, 147, 147);
    cursor: pointer;
  }

  .search-icon {
    position: relative;
    flex: 0 0 auto;
    min-width: 30px;
    cursor: pointer;
  }
  .search-icon i {
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .search-icon input {
    display: none;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
  }
  .search-icon input.show {
    display: inline-block;
  }
  #search-input::placeholder {
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    color: var(--text-color);
  }
  .seeAll-btn {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 50px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    gap: 15px;
    cursor: pointer;
  }
  .popularMovies-header {
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color);
    width: 77%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }
  .popularMovies-header h3 {
    color: black;
    font-size: 20px;
  }
  .section-items {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .section-items img {
    object-fit: cover;
    max-width: 600px;
    height: 500px;
    border-radius: 5px;
  }
  #previous-slide,
  #next-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    width: 50px;
    height: 40px;
    bottom: 40%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #previous-slide {
    left: 20px;
    border: none;
    color: white;
  }
  #next-slide {
    right: 20px;
    border: none;
    color: white;
  }
  #previous-slide,
  #next-slide :focus {
    outline: 1px solid var(--text-color);
  }
   /* Style for the select element */
   .custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px; 
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
  }
  .custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }
  .custom-select select {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    font-size: 20px;
  }
  
  .custom-select select:focus {
    outline: none;
  }
  
  .custom-select select option {
    background-color: #f1f1f1;
    color: #333;
    font-size: 20px;
    padding: 8px;
  }
  
  .custom-select select option:hover {
    background-color: #ddd;
  }
  
  .movie-container{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .popular-movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .movie {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .movie img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .movie h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .movie p {
    font-size: 14px;
    color: #888;
  }


@media screen and (max-width: 800px){
  main {
    margin: auto;
    overflow: hidden;
    background-color: var(--background-color);
}
nav{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 12;
}
.logo-img{
  display: none;
 }
 navbar{
background-color: red;
height: 50px;
width: 100%;
display: flex;
align-items: center;
text-align: center;
justify-content: space-around;
}
.hamburger{
  display: block; 
  cursor: pointer;
  position: relative; 
  transform: none;
  float: none;
  order: 2;
  position: static;
  transform: none;
  float: none;
  position: relative; 
  cursor: pointer;
  margin-right: 20px;
 }
 .hamburger .line{
   display: block;
   width: 30px;
   height: 5px;
   margin-bottom: 5px;
   background-color: black;
 }
 .menu {
  display: none;
}

.menu.show {
  display: block;

}
.navbar-tabs{
  position: absolute;
  top: 65%;
  right: 10px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f0f0;
  width: min-content;
  margin: 0 auto;
  padding: 0;
}
.navbar-tabs a {
  display: block;
  color: red;
  text-decoration: none;
  color: var(--text-color);
  font-size: 10px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  padding: 0;
}
.search-icon{
  display: none;
}

 .theme-icon {
  margin-right: auto;
  cursor: pointer;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px; 
}
.moon,
.sun {
  position: absolute;
}
.sun {
  display: none;
}

.dark-mode .sun {
  display: inline;
}

.dark-mode .moon {
  display: none;
}

.section-items {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
  .logo-img{
    display: none;
  
   }
   .section-items img {
    object-fit: cover;
    max-width: 100px;
    height: 150px;
    border-radius: 5px;
  }
  #previous-slide,
  #next-slide {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    width: 25px;
    height: 20px;
    bottom: 75%;
    background-color: rgba(10, 10, 10, 0.2);
  }
  #previous-slide {
    left: 20px;
    border: none;
    color: white;
  }
  #next-slide {
    right: 20px;
    border: none;
    color: white;
  }
  #previous-slide,
  #next-slide :focus {
    outline: 1px solid var(--text-color);
  }
  .custom-select {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px; 
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
  }
  .custom-select select {
    padding: 5px;
    font-size: 10px;
  }
  .movie-container{
    max-width: 800px;
    margin: 0 auto;
  }
  .popularMovies-header {
    max-width: 400px;
    margin: 0 auto;
    color: var(--text-color);
    width: 80%;
    /* margin: 10px auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }
  .popularMovies-header h3 {
    color: black;
    font-size: 16px;
  }
  .seeAll-btn {
    font-size: 12px;
    width: 80px;
    height: 25px; 
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 50px;
    gap: 15px;
    cursor: pointer;
  }
  .popular-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .movie {
    border: none;
    text-align: center;
  }
  .movie img {
    width: 200px;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .movie h3 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .movie p {
    font-size: 12px;
    color: #888;
    text-align: center;
    padding: 0 80px;
  }
}
