* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
/* default/light mode colors */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* dark mode colours */
body.dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
}

navbar {
  display: flex;
  box-shadow: 2px 2px 5px rgb(201, 201, 201);
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.logo span {
  color: rgb(51, 51, 194);
}

.navbar-tabs {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.navbar-tabs li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.navbar-tabs :hover {
  color: rgb(153, 147, 147);
  cursor: pointer;
  transition: 1s ease-out all;
}
#search-input {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgb(153, 147, 147);
}

.search-input {
  border: none;
  outline: none;
}

#search-input::placeholder {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
}

.genres-menu {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.genres-btn,
.seeAll-btn {
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: 2px 2px 5px var(--text-color);
  border: none;
  padding: 10px 30px;
  margin-left: 50px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  gap: 15px;
  /* position: relative; */
}
/* .genres-btn:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}
.seeAll-btn:hover{
    background-color: var(--text-color);
    color: var(--background-color);
} */
body.dark-mode .genres-btn {
  color: var(--text-color);
  box-shadow: 5px 5px 10px black;
}
body.dark-mode .seeAll-btn {
  color: var(--text-color);
  box-shadow: 5px 5px 10px black;
}
/* body.dark-mode .genres-btn:hover{
     color: var(--background-color);
     background-color: var(--text-color);
}
.body.dark-mode .seeAll-btn:hover{
    color: var(--background-color);
    background-color: var(--text-color);
} */
.genre-dropdown-contents {
  visibility: hidden;
  /* z-index: 2;  */
  background-color: var(--background-color);
  color: var(--text-color);
  /* color: #000000; */
  width: 120px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 120px;
  padding: 0;
}
.genre-dropdown-contents li {
  list-style-type: none;
  text-transform: capitalize;
  /* display: flex; */
}
.theme-icon {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}
.moon,
.sun {
  color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: var(--background-color);
  color: var(--text-color); */
}
.sun {
  visibility: hidden;
}

.moon {
  visibility: visible;
}

body.dark-mode .sun {
  visibility: visible;
}

body.dark-mode .moon {
  visibility: hidden;
}
header {
  /* margin-top: 30px; */
  color: var(--text-color);
  /* border: 2px solid blue; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
header h3 {
  color: var(--text-color);
}
header p {
  font-size: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
}
header p:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
.main-article {
  background-color: rgb(199, 133, 133);
  border: 2px solid red;
  margin-top: 150px;
}
.carousel-container {
    position: relative;
  }
  
  .section-items {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
  }

  .section-items img{
    object-fit: cover;
    width: 800px;
    border-radius: 5px;
  
}
  
  .prev-button,
  .next-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    bottom: 50%;
    color: #ffffff;
    font-size: 35px;
    background-color:transparent;
    border: none;
  }
  
  .prev-button {
    left: 20px;
  }
  
  .next-button {
    right: 20px;
  }
  
  .prev-button:focus,
  .next-button:focus {
    outline: 1px solid var(--text-color);
  }
  

.popular-movies-slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* max-width: 62.2rem;
    max-height: auto; */
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  max-height: 100%;
  /* border: 5px solid red; */
  /* overflow: hidden; */
  /* overflow-x: scroll; Enable horizontal scrolling */
  /* white-space: nowrap; Prevent line breaks */
}
.img-item {
  object-fit: cover;
  max-width: 300px;
  max-height: 100%;
  border-radius: 10px;
}
.popular-movies h2 {
  font-size: 18px;
  color: var(--text-color);
}

.popular-movies p {
  font-size: 16px;
  color: var(--text-color);
}
.prev-btn,
.next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9;
  /* border: none; */
  /* background-color :red; */
  width: 38px;
  height: 40px;
  bottom: -40rem;
  /* background-color: var(--background-color);
    color: var(--text-color); */
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.prev-btn {
  left: 10px;
  /* border: none; */
  color: var(--text-color);
  background-color: var(--background-color);
}
.next-btn {
  right: 10px;
  /* border: none; */
  color: var(--text-color);
  background-color: var(--background-color);
}
.prev-btn,
.next-btn :focus {
  outline: 1px solid var(--text-color);
}
