@media screen and (max-width: 1400px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* default/light mode colors */
  :root {
    --background-color: #e7e3e3;
    --text-color: #413f3f;
  }
  main {
    margin: auto;
  background-color: var(--background-color);
}
  nav {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 12;
    background: rgba(0, 0, 0, 0.6);
  }
  navbar {
    background-color: white;
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 100%;
  }

  .logo a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }

  .logo span {
    color: rgb(51, 51, 194);
  }

  .navbar-tabs {
    list-style-type: none;
    display: flex;
    gap: 50px;
  }

  .navbar-tabs li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .navbar-tabs :hover {
    color: rgb(153, 147, 147);
    cursor: pointer;
  }

  .search-icon {
   
    position: relative;
    flex: 0 0 auto;
    min-width: 30px;
  }

  .search-icon i {
    background-color: #beb7b7;
    padding: 10px;
    position: absolute;
    /* left: 5px; */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .search-icon input {
    display: none;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
  }

  .search-icon input.show {
    display: inline-block;
  }
  #search-input::placeholder {
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    color: var(--text-color);
  }

  .genres-btn,
  .seeAll-btn {
    color: var(--text-color);
    /* box-shadow: 2px 2px 5px var(--text-color); */
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 50px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    gap: 15px;
  }
  
  .genres-btn{
    margin-left: 90px;
    background-color: white;
  }
  .seeAll-btn{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .genres-menu {
    position: relative;
    margin: 10px;
    text-transform: capitalize;
  }
  .genre-dropdown-contents {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background-color: rgb(243, 240, 240);
    min-width: 120px;
    border-radius: 10px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* padding: 0;*/
    top: 41px;
    left: 90px;
  }
  .genre-dropdown-contents li {
    list-style-type: none;
    text-transform: capitalize;
    padding: 2px 10px;
    display: block;
  }
  /* .genres-menu:hover .genre-dropdown-contents {
  visibility: visible;
} */
  .popularMovies-header {
    color: var(--text-color);
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }
  .popularMovies-header h3 {
    color: black;
    font-size: 18px;
  }
  .popularMovies-header p {
    font-size: 12px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
  }
  .popularMovies-header p:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }
  .section-items {
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .section-items img {
    object-fit: cover;
    max-width: 800px;
    height: auto;
    max-height: 100%; 
    border-radius: 5px;
  }

  #previous-slide,
  #next-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    width: 50px;
    height: 40px;
    bottom: 40%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #previous-slide {
    left: 20px;
    border: none;
    color: white;
  }
  #next-slide {
    right: 20px;
    border: none;
    color: white;
  }

  #previous-slide,
  #next-slide :focus {
    outline: 1px solid var(--text-color);
  }

  .popular-movies-slideshow {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 75.2rem;
    margin: 20px auto;
  }

  .popular-movies-slideshow img {
    text-align: center;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    transition: padding 0.2s;
  }

  .popular-movies-slideshow img:hover {
    border-radius: 10px;
    border: 3px solid rgb(128, 122, 122);
  }
  .popular-movies h2 {
    font-size: 18px;
    color: var(--text-color);
  }

  .popular-movies p {
    font-size: 16px;
    color: var(--text-color);
  }
}
